<%= form_for(@attendee, {html: {class: "form-horizontal"}}) do |f| %>
  <% if @attendee.errors.any? %>
    <div id="error_explanation">
      <h2>Wystąpiły następujące błędy:</h2>

      <ul>
      <% @attendee.errors.each do |attribute, msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, class: "control-label" %>
    <%= f.text_field :name, class: "controls" %>
  </div>
  <div class="control-group">
    <%= f.label :Surname, class: "control-label"%>
    <%= f.text_field :Surname, class: "controls" %>
  </div>
  <div class="control-group">
    <%= f.label :Email, class: "control-label" %>
    <%= f.text_field :Email, class: "controls" %>
  </div>
  <div class="control-group">
    <%= f.label :kotik_mailing, class: "control-label" %>
    <%= f.check_box :kotik_mailing, class: "controls" %>
  </div>
  <div class="control-group">
    <label class="control-label"><%=t('helpers.label.attendee.captcha')%></label>
    <%= recaptcha_tags(display: {theme: 'clean'}) %>
  </div>
  <div class="control-group">
    <label class="control-label"></label>
    <input class="btn btn-success controls" type='submit' value='Register' <%= @registration_enabled ? "" : "disabled=disabled "%>class="controls">
  </div>
<% end %>
