<div id="lecture">
  <a name="lecture"></a>
  <%= t('content.lecture_html') %>
</div>

<div id="bio">
  <a name="bio"></a>
  <%= t('content.bio_html') %>
</div>

<div id="registration">
  <a name="registration"></a>
  <%= t('content.registration_html') %>
<%= render 'form' %>
</div>

<div id="stream">
  <a name="stream"></a>
  <%= t('content.stream_html') %>
</div>

<div id="main">
  <a name="main"></a>
  <%= t('content.main_html') %>
</div>

<div id="media">
  <a name="media"></a>
  <%= t('content.media_info_html') %>
</div>
