<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @attendee.name %>
</p>

<p>
  <b>Surname:</b>
  <%= @attendee.Surname %>
</p>

<p>
  <b>Email:</b>
  <%= @attendee.Email %>
</p>

<p>
  <b>Kotik mailing:</b>
  <%= @attendee.kotik_mailing %>
</p>

