<div id="lecture">
  <a name="lecture"></a>
  <%= t('content.lecture_html') %>
</div>

<div id="bio">
  <a name="bio"></a>
  <%= t('content.bio_html') %>
</div>

<div id="main">
  <a name="main"></a>
  <%= t('content.main_html') %>
</div>

<div id="organizers">
  <a name="organizers"></a>
  <h2> <%= t('content.orgs_title') %> </h2>
  <%= t('content.main_orgs_html') %>
  <ul class="org">
    <li>
      <a href="http://pw.edu.pl"><img alt="Warsaw University of Technology" src="<%= image_path "pw.png" %>" /></a><span><%= t('content.orgs.pw') %></span>
    </li>
    <li>
      <a href="http://www.ee.pw.edu.pl"><img alt="WUT Department of EE" src="<%= image_path "ee.png" %>" /></a><span><%= t('content.orgs.ee') %></span>
    </li>
    <li>
      <a href="http://kotik.iem.pw.edu.pl/"><img alt="KOTIK" src="<%= image_path "kotik.png" %>" /></a> <span class="short"><%= t('content.orgs.kotik') %></span>
    </li>
  </ul>
  <%= t('content.secondary_orgs_html') %>
  <ul class="org">
    <li>
      <a href="http://www.isoc.org.pl/"><img alt="Internet Society Poland" src="<%= image_path "isoc.png" %>" /></a><span class="short"><%= t('content.orgs.isoc') %></span>
    </li>
    <li>
      <a href="http://centrumcyfrowe.pl/"><img alt="Centrum Cyfrowe" src="<%= image_path "cc.jpg" %>" /></a>
    </li>
    <li>
      <a href="http://fwioo.pl/"><img alt="Fundacja Wolnego i Otwartego Oprogramowania" src="<%= image_path "fwioo.png" %>" /></a>
    </li>
  </ul>
  <%= t('content.supporting_media_html') %>
  <ul class="org">
    <li>
      <a href="http://www.polibuda.info/art17365"><img alt="polibuda.info" src="<%= image_path "polibuda.info.png"%>" /></a>
    </li>
    <li>
      <a href="http://di.com.pl/news/47689,0,Zapraszamy_na_wyklad_Richarda_Stallmana_w_Warszawie-Redakcja_.html"><img alt="Dziennik Internautów" src="<%= image_path "di.png"%>" /></a>
    </li>
    <li>
      <a href="http://radioaktywne.pl/2013/03/wyklad-richarda-stallmana-na-politechnice-warszawskiej/"><img alt="radioaktywne.pl" src="<%= image_path "radioaktywne.pl.png" %>" /></a>
    </li>
  </ul>
  <p>
    <%= t('content.brama_does_streaming_html')%></p>
</div>
