<!doctype html >
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Montserrat+Subrayada:400,700' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag    "stats", :media => "all" %>
<%= javascript_include_tag   "stats"%>

<style>
#chart_container {
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
}
#chart {
        float: left;
}
#legend {
        float: left;
        margin-left: 15px;
}
#offset_form {
        float: left;
        margin: 2em 0 0 15px;
        font-size: 13px;
}
#y_axis {
        float: left;
        width: 40px;
}
.table {
  width: 30em;
}

#timeline {
margin-top: 620px;
}
</style>

<div id="chart_container">
        <div id="y_axis"></div>
        <div id="chart"></div>
        <div id="legend"></div>
        <div id="timeline"></div>
</div>

<table class="table">
<thead>
<td> Dzień </td>
<td> Zapisanych </td>
</thead>
<% @date_stats.each_with_index do |tuple, index| %>
<tr>
<td> <%= tuple[:x] %> </td>
<td> <%= tuple[:y] %> 
<% if index == @date_stats.size - 1 %>
  <% growing = Attendee.growing? %>
  <span style="color:<%= (growing.first ? "green":"red") %>"><%= (growing.first ? "↑ " : "↓ ") %></span>
  <%= growing.last %>
<% end %>
</td>
</tr>
<% end %>
</table>

<script>

Rickshaw.namespace('Rickshaw.Graph.Renderer.Line');

Rickshaw.Graph.Renderer.Line = Rickshaw.Class.create( Rickshaw.Graph.Renderer, {

name: 'line',

defaults: function($super) {

return Rickshaw.extend( $super(), {
unstack: true,
fill: false,
stroke: true
} );
},

seriesPathFactory: function() {

var graph = this.graph;

var factory = d3.svg.line()
.x( function(d) { return graph.x(d.x) } )
.y( function(d) { return graph.y(d.y) } )

factory.defined && factory.defined( function(d) { return d.y !== null } );
return factory;
}
} );

var palette = new Rickshaw.Color.Palette();

var graph = new Rickshaw.Graph( {
        element: document.querySelector("#chart"),
        width: 1024,
        height: 600,
        renderer: 'line',
        series: [
                {
                        name: "Attendees",
                        data: <%=@stats.to_json.html_safe %>,
                        color: palette.color()
                },
                {
                        name: "Mailing",
                        data: <%=@mailing_stats.to_json.html_safe %>,
                        color: palette.color()
                },
                {
                        name: "limit miejsc siedzących",
                        data: <%=@seats.to_json.html_safe %>,
                        color: palette.color()
                },
                {
                        name: "limit miejsc",
                        data: <%=@capacity.to_json.html_safe %>,
                        color: palette.color()
                },
                {
                        name: "Daily attendees",
                        data: <%=@daily_subs.to_json.html_safe %>,
                        color: palette.color()
                },
        ]
} );

var x_axis = new Rickshaw.Graph.Axis.Time( { graph: graph } );

var y_axis = new Rickshaw.Graph.Axis.Y( {
        graph: graph,
        orientation: 'left',
        tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
        element: document.getElementById('y_axis'),
} );

var legend = new Rickshaw.Graph.Legend( {
        element: document.querySelector('#legend'),
        graph: graph
} );

var annotator = new Rickshaw.Graph.Annotate({
    graph: graph,
    element: document.getElementById('timeline')
});

annotator.add(1362415333, "submitted to Wykop.pl");


var offsetForm = document.getElementById('offset_form');

var hoverDetail = new Rickshaw.Graph.HoverDetail( {
    graph: graph
} );


graph.render();

</script>

