<!DOCTYPE html>
<html>
  <head>
    <title>Richard Stallman - Warszawa, 13 Marca 2013</title>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Montserrat+Subrayada:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", :media => "all" %>

    <%= javascript_include_tag "application" %>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        <div class="row">
          <div class="span10 offset2">
            <h1> Richard Stallman <br />
              Free Software and Your Freedom</h1>
          </div>
        </div>
      </div>

      <div id="content">
        <div class="row" id="container">
          <div class="main-page-container offset2 span10">
            <% if notice %>
              <p id="notice" class="alert alert-success"><%= notice %></p>
            <% end %>
            <div class="row">
              <aside class="span3">
              <img src="<%= image_path "rms.jpg" %>" alt="Picture of Richard Stallman" />
              </aside>

              <div class="span7 tabbable main-page-content">
                <nav>
                <ul class="nav nav-tabs">
                  <li class="<%= @registration_in_progress ? "" : "active" %>"><a href="#main" data-toggle="tab">Program</a></li>
                  <li><a href="#bio" data-toggle="tab">O gościu</a></li>
                  <li><a href="#lecture" data-toggle="tab">Wykład</a></li>
                  <li class="<%= @registration_in_progress ? "active" : "" %>"><a href="#registration" data-toggle="tab">Rejestracja</a></li>
                  <li><a href="#stream" data-toggle="tab">Stream</a></li>
                </ul>
                </nav>

                <div class="tab-content">
                  <div id="main" class="tab-pane<%= @registration_in_progress ? "" : " active" %>">
                    <a name="main"></a>
                    <h2> Program wizyty </h2>
                    <p>
                      12 marca 2013 do Polski przyleci Richard Stallman. Celem jego wizyty jest Studencki Festiwal Informatyczny, który odbywa się w dniach 14-16 marca na krakowskiej Akademii Górniczo-Hutniczej[a]. Dzień wcześniej, 13 marca odbędzie się cykl spotkań ze Stallmanem w Warszawie.
                      <p>
                        Głównym z nich jest wykład, który odbędzie się o godz. 12 na Politechnice Warszawskiej. Tego dnia Stallman odwiedzi również Fundację Nowoczesna Polska, Centrum Cyfrowe (godz. 18) oraz Warszawski Hackerspace (godz. 21).
                      </p>
                    </p>
                  </div>

                  <div id="bio" class="tab-pane">
                    <a name="bio"></a>
                    <h2> Sylwetka gościa</h2>
                    <p>
                      Dr Richard Stallman zapoczątkował ruch wolnego oprogramowania w roku 1983 i rozpoczął rozwijanie systemu operacyjnego GNU (www.gnu.org) w roku 1984. GNU jest wolnym oprogramowaniem: każdemu wolno je kopiować i rozpowszechniać zarówno ze zmianami jak i bez. System GNU/Linux, czyli system operacyjny GNU z dodanym Linuksem jest dziś używany na dziesiątkach milionów komputerów. 
                    </p>
                    <p>
                      Stallman otrzymał nagrodę ACM imienia Grace Hopper, stypendium Fundacji MacArthur, Nagrodę Pioniera od Electronic Frontier Foundation, Nagrodę Takeda za „Ulepszenia Społeczno-Ekonomiczne”, a także kilka honorowych doktoratów.
                    </p>
                  </div>

                  <div id="lecture" class="tab-pane">
                    <a name="lecture"></a>
                    <h2> Szczegóły wykładu</h2>
                    <p>
                      Tytuł wykładu to „Wolne społeczeństwo cyfrowe” (oryg. „A free digital society”). Wiele w Polsce mówi się o tak zwanym „cyfrowym wykluczeniu” jako przeciwieństwie partycypacji w osiągnięciach najnowszej techniki, w szczególności komputerowej. Traktuje się przy tym cyfrowe wykluczenie bezwzględnie jako zło, które należy likwidować, a to z kolei oznacza automatyczne wprowadzenie w to miejsce czegoś dobrego. Stallman oferuje głębszą refleksję nad pytaniem o dobre i złe strony cyfrowego uczestnictwa w kulturze.
                    </p>
                    <p>
                      Według Stallmana: „Działania zmierzające do włączenia większej liczby osób w używanie cyfrowych technologii oparte są na założeniu, że niewątpliwie taka partycypacja jest rzeczą bez wątpienia dobrą. Z praktycznego punktu widzenia to bardzo wygodna teza. Wydaje się tak, jesli bierzemy pod uwagę jedynie praktyczną wygodę. Jednakże, jeśli jednak spojrzymy na nią z perspektywydokonamy oceny również pod względem praw człowieka, takie cyfrowe włączenie może być zarówno dobre jak i złe – w zależności od tego, do jakiego rodzaju cyfrowego świata zostajemy włączeni. Jeśli naszym celem jest cyfrowa partycypacja, powinniśmy mieć pewność, że jest to rzecz dobra.”
                    </p>
                  </div>

                  <div id="registration" class="tab-pane<%= @registration_in_progress ? " active" : "" %>">
                    <a name="registration"></a>
                    <h2> Rejestracja (opcjonalna) </h2>
                    <p> Rejestracja <b>nie</b> jest obowiązkowa, ale osoby zarejestrowane będą miały <b>pierwszeństwo</b> w wypadku braku miejsc na sali (miejsca na około 300 osób). </p>
                    <p> Rejestracja dotyczy tylko głównego spotkania - wykładu Richarda Stallmana na Politechnice Warszawskiej </p>
                    <p> Zbierane dane zostaną wykorzystane tylko przez obsługę spotkania. Możliwe że e-mail będzie potrzebny do potwierdzenia rejestracji na kilka dni przed spotkaniem. Może być także użyty do przesyłania informacji o ważnych zmianach w programie spotkania lub informacjach o podobnych wydarzeniach - jeśli się na to zgodzisz.</p>
                    <p> <b>Rejestracja zostanie otwarta 1-go Marca 2013</b> </p>
                    <%= yield %>
                  </div>

                  <div id="stream" class="tab-pane">
                    <a name="stream"></a>
                    <h2> Oglądaj na żywo </h2>
                    <p>
                      Planujemy umożliwić oglądanie zarówno wykładu jak i spotkania dyskusyjnego na żywo. Więcej informacji wkrótce.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div id="footer">
        <div class="row">
          <div class="span10 offset2 footer-content">
            <span> <%= t('layout.organized_by') %> </span>
            <a href="http://pw.edu.pl"><img alt="Warsaw University of Technology" src="<%= image_path "pw.png" %>" /></a>
            <a href="http://www.isoc.org.pl/"><img alt="Internet Society Poland" src="<%= image_path "isoc.png" %>" /></a>
            <a href="http://www.ee.pw.edu.pl"><img alt="WUT Department of EE" src="<%= image_path "ee.jpg" %>" /></a>
            <a href="http://kotik.iem.pw.edu.pl/"><img alt="KOTIK" src="<%= image_path "kotik.png" %>" /></a>
            <a href="http://radioaktywne.pl"><img alt="radioaktywne.pl" src="<%= image_path "radioaktywne.pl.png" %>" /></a>
            <a href="http://polibuda.info"><img alt="polibuda.info" src="<%= image_path "polibuda.info.png"%>" /></a>
          </div>
        </div>
      </div>
    </div>



  </body>
</html>
