<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><%= t('layout.title') %> </title>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Montserrat+Subrayada:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", :media => "all" %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        <h1> <%= t('layout.header_html') %></h1>
      </div>

      <% if notice %>
        <p id="notice" class="alert alert-success"><%= notice %></p>
      <% end %>

      <aside></aside>
      <div id="content">

        <div class="main-page-content">
          <nav>
          <ul class="nav nav-tabs">
            <li <%=active_if('pages#info')%>><%= link_to t('layout.tabs.info'), root_path%></li>
            <li <%=active_if_photos%>><%= link_to 'Zdjęcia', photo_albums_path%></li>
            <li <%=active_if('pages#media')%>><%= link_to t('layout.tabs.media'), media_pages_path%></li>
            <li <%=active_if('pages#english')%>><%= link_to t('layout.tabs.in_english'), english_pages_path%></li>
          </ul>
          </nav>

          <div class="tab-content">
            <%= yield %>
          </div>
        </div>
        <span class="attribution">
          <%= t('layout.attribution_html')%>
        </span>
      </div>
    </div>
  </body>
</html>
