<!DOCTYPE html>
<html>
  <head>
    <title><%= t('layout.title') %> </title>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Montserrat+Subrayada:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", :media => "all" %>

    <%= javascript_include_tag "application" %>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        <div class="row">
          <div class="span10 offset2">
            <h1> <%= t('layout.header_html') %></h1>
          </div>
        </div>
      </div>

      <div id="content">
        <div class="row" id="container">
          <div class="main-page-container offset2 span10">
            <% if notice %>
              <p id="notice" class="alert alert-success"><%= notice %></p>
            <% end %>
            <div class="row">
              <aside class="span3">
              <img src="<%= image_path "rms.jpg" %>" alt="<%= t('layout.picture_alt')%>" />
              </aside>

              <div class="span7 tabbable main-page-content">
                <nav>
                <ul class="nav nav-tabs">
                  <li><a href="#lecture"><%= t('layout.tabs.lecture')%></a></li>
                  <li><a href="#bio" ><%= t('layout.tabs.bio') %></a></li>
                  <li ><a href="#registration"><%= t('layout.tabs.registration') %></a></li>
                  <li><a href="#stream"><%= t('layout.tabs.stream') %></a></li>
                  <li><a href="#main"><%= t('layout.tabs.main') %></a></li>
                  <li><a href="#media"><%= t('layout.tabs.media') %></a></li>
                </ul>
                </nav>

                <div class="tab-content">
                  <div id="lecture">
                    <a name="lecture"></a>
                    <%= t('content.lecture_html') %>
                  </div>

                  <div id="bio">
                    <a name="bio"></a>
                    <%= t('content.bio_html') %>
                  </div>

                  <div id="registration">
                    <a name="registration"></a>
                    <%= t('content.registration_html') %>
                    <%= yield %>
                  </div>

                  <div id="stream">
                    <a name="stream"></a>
                    <%= t('content.stream_html') %>
                  </div>

                  <div id="main">
                    <a name="main"></a>
                    <%= t('content.main_html') %>
                  </div>

                  <div id="media">
                    <a name="media"></a>
                    <%= t('content.media_info_html') %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div id="footer">
        <div class="row">
          <div class="span10 offset2 footer-content">
            <div class="organizers">
              <span> <%= t('layout.organized_by') %> </span>
              <a href="http://pw.edu.pl"><img alt="Warsaw University of Technology" src="<%= image_path "pw.png" %>" /></a>
              <a href="http://www.isoc.org.pl/"><img alt="Internet Society Poland" src="<%= image_path "isoc.png" %>" /></a>
              <a href="http://www.ee.pw.edu.pl"><img alt="WUT Department of EE" src="<%= image_path "ee.jpg" %>" /></a>
              <a href="http://kotik.iem.pw.edu.pl/"><img alt="KOTIK" src="<%= image_path "kotik.png" %>" /></a>
            </div>
            <div class="media-partners">
              <span> <%= t('layout.media_partners') %> </span>
              <a href="http://radioaktywne.pl"><img alt="radioaktywne.pl" src="<%= image_path "radioaktywne.pl.png" %>" /></a>
              <a href="http://polibuda.info"><img alt="polibuda.info" src="<%= image_path "polibuda.info.png"%>" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>



  </body>
</html>
